<div class="contain">
    <div class="titre">
      <div class=title>@item_id</div>
    </div>

        <div class="photo">
          <img src ="https://www.mariefrance.fr/wp-content/uploads/sites/5/2022/10/a-3-750x394.jpg">
        </div>

          <div class="description">Description : @items::fakker bien entendu il y aura ici des text qui iron avec la photo
          </div>

            <div class="price">
              <p>PRICE: </p></div>
        <div class="button">
  <button>Add to card</button>
</div>
