
<%= render @item %>
 <h2>Cat project</h2>
 <div class="image-banner">
 <div class="container">
 </div>
</div>
<p class="paragraphe-index">
 Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Ea quam alias dolore provident consequatur non odit. Nesciunt, 
 animi exercitationem perspiciatis vel ut alias et at,
 fugianecessitatibus rerum, harum magni?
</p>
<br><br><br>



<div class="container">
<% @item.sort.each do |item| %>
 <div class="photo">
     <p>Lorem ipsum dolor sit amet.
     </p>
     <button class="btn"> Show more
     <%= gossip.id  %>
     </button>
 </div>
 
</div>