
<div class="contain">
    <div class="titre">
      <div class=title>Title</div>
    </div>

        <div class="photo">
          <img src ="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&w=1600" class = "responsive">
        </div>

          <div class="description">
          <div class ="position_description">Description :
          </div>
          <div class = "posdescri"></div>
          </div>

            <div class="price">
              <p>Price :</p></div>

        <div class="butt ">
        <button  data-hover="click me!"><div>Add to card</div></button>
</div>




