
<div class="contain">
    <div class="titre">
      <div class=title><@items a prevoir></div>
    </div>

        <div class="photo">
          <img src ="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&w=1600" class = "responsive">
        </div>

          <div class="description">Description : @items::fakker bien entendu il y aura ici des text qui iron avec la photo
          </div>

            <div class="price">
              <p><=@items.price></p></div>

        <div class="butt ">
        <button  data-hover="click me!"><div>Add to card</div></button>
</div>




