<%Item.each do |card|%>
<div class="contain">
    <div class="titre">
      <div class="title"><%=card.title%></></div>
    </div>

        <div class="photo">
          <img src ="<% @cart_id>" class = "responsive">
        </div>

          <div class="description">Description : @items::fakker bien entendu il y aura ici des text qui iron avec la photo
          </div>

            <div class="price">
              <p><=@items.price></p></div>

        <div class="butt ">
        <button  data-hover="click me!"><div>Add to card</div></button>
</div>
<% end%>