<div class="container-index">
<% @item.each do |value|%>
 <div class="photo">
     <p><%= value.title %></p>
     <p><<%= value.id %></p>
     <button class="btn"> Show more</button>
 </div>
</div>
<% end %>