<div class="container-index">

  <div class="header-index">
    <div class="sentence">
      <h1>Venez agrandir votre collection de photos de chat !</h1>
    </div>

    <div class="cta-button">
      <button class="btn-primary hvr-grow">Venez</button>
    </div>




  </div>


  <div class="card-index">





  </div>


</div>
