/* Importing your file */

/*
*= require navbar
*= require show
*/

/* -------------- General ----------------- */

body {
  background-color: #808080;
  margin: 0;
  padding: 0;
}

/*--------------------