/* Importing your file */

/*
*= require navbar
*= require show
*= require list_items

*= require footer
*/

/* -------------- General ----------------- */

body {
  background-color: #808080;
  margin: 0;
  padding: 0;
 
}


/*--------------------