
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "mon-panier mon-panier mon-panier mon-panier mon-panier"
    "info-panier info-panier info-panier recap recap"
    ". . . valider valider";
}

.mon-panier h1{
  background-color: #B8AC98;
  border:solid 2px;
  border-radius: 10px;
  border: 4px double #cccccc;
}
.mon-panier {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  grid-area: mon-panier;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.itemchoisi{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-panier {
  background-color: #B8AC98;
  grid-area: info-panier;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  font-size: 14px;
  border:solid 2px;
  border-radius: 10px;
  border-width: 2px;
  border: 4px double #cccccc;

}
img{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 200px;
  max-width: 200px;
}

.recap{
  background-color: #B8AC98;
  grid-area: recap;
   border: solid 2px;
   border-radius: 10px;
    border: 4px double #cccccc;
}

.recapitu{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: recap;

}

h2{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.valider {
  grid-area: valider;
  justify-content: center;
    align-items: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;

    
}