<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Bonjour <%= @user.first_name %> <%= @user.last_name%> et bienvenue chez vous !</h1>

    <p> Vous avez commandé sur thecatproject.fr et nous vous en remercions !</p>

    <p> Voici le récapitulatif de votre commande <%= @order.order_id %> :</p>

    <p>Pour accéder à votre espace client, connectez-vous via : <%= @url %>.</p>
    
    <p>À très vite sur thecatproject.fr !</p>

</body>
</html>