<div class="container-navbar">

  <div class="nav-left">
    <h1>Logo</h1>
  </div>

  <div class="nav-right">
    <div class="dropdown">
      <i id="burger-menu" onclick="myFunction()" class="hvr-grow fa-solid fa-bars fa-2x"></i>
      <div id="myDrop" class="dropdown-content">
        <a href="/users/sign_in">Login</a>
        <a href="/users/sign_up">Sign-up</a>
        <a href=" /items/:id">Profile</a>
        <a href="/users/sign_out">Disconnect</a>
      </div>
      <a href="/cart/list_items">🛒</a>
    </div>
  </div>

</div>