<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid  img-thumbdail" alt="..." style="width: 650px; height: 500px";>
    </div>
    <div class="col-md-8">
      <div class="card-body text-right";>
        <h1 class="card-title text-center">the cat with green persian eyes</h1>
      
     <br /> <br /> <br /> <br />
      <h3 class="card-title text-center">Description</h3>
        <p class="card-text text-center">This cat has persistent eyes like the glow of mist in the sun.it is in a sphynx<br />
         position bringing a relaxed armony like a pasha.the spot on its muzzle<br/>
          gives it the cutest look it can have.it has been seen roaming between<br/>
          the moon and mars.it left the solar system almost 1000 years ago</p>
      </div> 
       <br /> <br /> <br /> <br /> <br /> <br />  <br /> <br /> <br /> <br /> <br /> <br />

         <div class="card-body ";>
        <h3 class="card-title ">PRICE :</h3></div>
    </div>
  </div>
</div>
       <div class="d-flex justify-content-start align-items-flex-start">
                    <div class="btn-group col-md-12 text-center">
                    <button type="button" class="btn btn-lg btn-outline-secondary">Add To Card</button>
                    </div>
                </div>
   
   </div>
    